# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/
venv/

# IDE-specific files (optional, uncomment as needed)
# .vscode/
# .idea/

# Temporary files created by editors
*~

# Python build artifacts
build/
dist/
*.egg-info/
