# Ignore all CSV and JSON files
*.csv
*.json

# Python-specific ignores (common practice)
# compiled python files
__pycache__/
*.pyc
*.pyd
*.pyo

# virtual environment
venv/
.venv/

# misc
.DS_Store # macOS specific file
